{% extends "base.html" %}
{% load staticfiles %}
{% block extraheader %}
		<style type="text/css">
			#or{
				background-color:#fff; 
				height: 40px; 
				padding: 10px 0px 25px; 
				position: relative; 
				left: -17px; 
				top: -350px;
				text-align: center;
			}

			.francois{
				font-family:'Francois One';
			}

			.oswald{
				font-family: 'Oswald';
			}

			.country{
				overflow: hidden;
				width: 110px;
				height: 110px;
				border-radius: 55px; 
				border: 1px solid #ccc; 
				background-repeat: no-repeat; 
				margin: 0 auto;
			}

			.country:hover, .person:hover{
				border: 1px solid #333; 
			}

			.country.mexico{
				background-image: url(images/mexico.png);
				background-position: -45px -2px;
			}

			.country.colombia{
				background-image:url(images/colombia.png);
				background-position: -45px -10px;
			}

			.country.argentina{
				background-image:url(images/argentina.png);
				background-position: -45px -10px; 
			}

			.country.peru{
				background-image:url(images/peru.png);
				background-position: -46px -10px;
			}

			.country.venezuela{
				background-image:url(images/venezuela.png);
				background-position: -45px -10px; 
			}

			.country.chile{
				background-image:url(images/chile.png);
				background-position: -25px -2px;
			}

			.country.ecuador{
				background-image:url(images/ecuador.png);
				background-position: -45px -10px;
			}

			.country.cuba{
				background-image:url(images/cuba.png);
				background-position: -25px 2px;
			}

			.country.bolivia{
				background-image:url(images/bolivia.png);
				background-position: -45px -10px;
			}

			.country.guatemala{
				background-image:url(images/guatemala.png);
				background-position: -45px -2px;
			}

			.person{
				overflow:hidden;
				width: 110px;
				height:110px;
				border-radius:55px; 
				border: 1px solid #ccc; 
				background-position: -25px -2px; 
				background-size: 150px; 
				background-repeat: no-repeat; 
			}

      .quote-head.{{ fact.person.country.slug }}{
        background-image:url({{ fact.person.profile_pic_url }});
			}

			.quote-head{
				overflow:hidden;
				width: 80px;
				height:80px;
				border-radius:40px; 
				border: 1px solid #ccc; 
				background-position: -15px 0px; 
				background-size: 105px; 
				background-repeat: no-repeat; 
			}

			.person.{{ fact.person.country.slug }}{
				background-image:url({{ fact.person.profile_pic_url }});
			}
		</style>
  {% endblock %}

  {% block jumbotron %}
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" style="background-color:#FF3030;color: #fff;">
			<div class="container">
				<div class="row">
					<div class="col-md-1">
            <div class="quote-head {{ fact.person.country.slug }}"></div>
					</div>
					<div class="col-md-11">
						<blockquote style="margin-top:0px;background-color:#F9CECE;color:#333;border-left: 5px solid #B51D1D;">
							<p>
              <span style="font-size: 36px;">&ldquo;</span> &nbsp; {{ fact.quote }} 
							</p>
							<footer>
                {{ fact.person.name }} en <cite title="Source Title">{{ fact.created_at|date }} </cite>{% if fact.source %} ( <a href="{{ fact.source.url }}">{{ fact.source.title }}</a> ){% endif %}
							</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
  {% endblock %}

  {% block content %}
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-3">
					<h2 class="oswald">Es verdad?</h3>
					<hr/>
          <h2><span class="label label-{{ fact.status_css_class }}">{{ fact.get_status_display }}</span></h2>
					<br/>
					<br/>
					<h2 class="oswald">Categoria</h3>
					<hr/>
					<ul class="list-group">
					  <li class="list-group-item">
            <span class="badge">1 de {{ fact.category.facts_count }}</span>
              {{ fact.category.title }}
					  </li>
					</ul>
					<br/>
					<br/>
					<h2 class="oswald">Pais</h3>
					<hr/>
          <img src="{{ fact.person.country.picture_url }}" />
					<br/>
					<br/>
					<h2 class="oswald">Politico</h3>
					<hr/>
					<div class="text-left">
            <div class="person {{ fact.person.country.slug }}"></div>
            <p>{{ fact.person.name }}</p>
					</div>
				</div>
				<div class="col-md-9">
					<h2 class="oswald">Explicación</h2>
					<hr style="border-top-color:#ddd !important;"/>
          {{ fact.content|safe }}

          <!-- sorry -->
          <br><br> 

          {% if fact.user %}
          <div class="well well-sm">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="{{ fact.user.profile.profile_pic_url }}" alt="..." height="48">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{ fact.user.get_full_name }}</h4>
                {{ fact.user.profile.blur }}
              </div>
            </div>
          </div><!-- end of .well-->
        {% endif %}

					<br/>
					<br/>

					<h2 class="oswald">Fuentes</h2>
					<hr/>
					<div class="panel panel-default">
						<div class="panel-body">
							<span style="font-size: 26px;">&ldquo;</span> &nbsp; 
							<span style="font-size: 18px;">The program, titled 'Seguro de Vida para Madres Jefas de Familia' (Life Insurance for Female Heads of Family), will be overseen by the Secretariat of Social Development (Sedesol) and the Family Development Agency (DIF) with an initial budget of 400 million pesos ($32 million).</span>
						</div>
						<div class="panel-footer">
							<span class="badge">March 14, 2013</span>
							Peña Nieto Launches Life Insurance Program - <a href="http://americasquarterly.org/content/pe%C3%B1a-nieto-launches-life-insurance-program">[ linko ]</a>
						</div>
					</div>
				</div>
			</div>
    {% endblock %}
