{% extends "base.html" %}
{% load staticfiles %}
  {% block extraheader %}
		<style type="text/css">
			#or{
				background-color:#fff; 
				height: 40px; 
				padding: 10px 0px 25px; 
				position: relative; 
				left: -17px; 
				top: -350px;
				text-align: center;
			}

			.francois{
				font-family:'Francois One';
			}

			.oswald{
				font-family: 'Oswald';
			}

			.country{
				overflow: hidden;
				width: 110px;
				height: 110px;
				border-radius: 55px; 
				border: 1px solid #ccc; 
				background-repeat: no-repeat; 
				margin: 0 auto;
			}

			.country:hover, .person:hover{
				border: 1px solid #333; 
			}

			.country.mexico{
				background-image: url(images/mexico.png);
				background-position: -45px -2px;
			}

			.country.colombia{
				background-image:url(images/colombia.png);
				background-position: -45px -10px;
			}

			.country.argentina{
				background-image:url(images/argentina.png);
				background-position: -45px -10px; 
			}

			.country.peru{
				background-image:url(images/peru.png);
				background-position: -46px -10px;
			}

			.country.venezuela{
				background-image:url(images/venezuela.png);
				background-position: -45px -10px; 
			}

			.country.chile{
				background-image:url(images/chile.png);
				background-position: -25px -2px;
			}

			.country.ecuador{
				background-image:url(images/ecuador.png);
				background-position: -45px -10px;
			}

			.country.cuba{
				background-image:url(images/cuba.png);
				background-position: -25px 2px;
			}

			.country.bolivia{
				background-image:url(images/bolivia.png);
				background-position: -45px -10px;
			}

			.country.guatemala{
				background-image:url(images/guatemala.png);
				background-position: -45px -2px;
			}

			.person{
				overflow:hidden;
				width: 110px;
				height:110px;
				border-radius:55px; 
				border: 1px solid #ccc; 
				background-position: -25px -2px; 
				background-size: 150px; 
				background-repeat: no-repeat; 
				margin: 0 auto;
			}

			.person.mexico{
				background-image:url(https://dl.dropboxusercontent.com/sh/dpspzisengzho6k/arHsLXGxKV/mexico-president-orders-probe-into-restaurant-ruckus-1367357441-5486.jpg?token_hash=AAFIv-4HUEHRs9nR5J1X9Gd-JHNRWZhnfcv_VPaTu2e8Ng);
			}
		</style>
  {% endblock %}

  {% block jumbotron %}
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" style="background-color:#FF3030;color: #fff;font-family: 'Oswald';position: relative; height: 325px; overflow: hidden;">
			<div style="position:relative; left: -40px; top: -50px;">
				<video autoplay="" muted="" loop="">
          <source src="{% static "videos/venezuela.mp4" %}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
			<div class="container text-center" style="position:absolute; top: 0px;">
				<br/>
				<br/>
        <img src="{{ country.picture_url }}" />
        <h1 style="text-shadow:0 0 3px rgba(0,0,0,.8);">La verdad sobre politica en {{ country.name }}.</h1>
			</div>
		</div>
  {% endblock %}

  {% block content %}
		<div class="container">
			<!-- Example row of columns -->
      {% if country.latest_fact %}
			<div class="row">
				<div class="col-md-12">
					<h2 class="oswald">Hecho mas reciente</h2>
					<hr style="border-top-color:#ddd !important;"/>
					<div style="border-left: 5px solid #ccc; background-color: #efefef; padding: 20px 20px 5px 20px; margin: 20px 0;">
						<blockquote>
						  <p>
              <span class="label label-{{ country.latest_fact.status_css_class }}">{{ country.latest_fact.get_status_display }}</span>
              {{ country.latest_fact.title }}
						  </p>
						  <footer>
                {{ country.latest_fact.person.name }} en {{ country.latest_fact.created_at|date }} {% if country.latest_fact.source %}<cite title="Source Title">{{ country.latest_fact.source.title }}</cite> ( <a href="{{ country.latest_fact.source.url }}">Ver mas</a> ){% endif %}
						  </footer>
						</blockquote>
					</div>
				</div>
			</div>
      {% endif %}
			<div class="row">
			 	<div class="col-md-12" id="people">
					<br/>
					<h2 class="oswald">Politicos</h2>
					<hr style="border-top-color:#ddd !important;"/>
					<div class="row francois text-center">

            {% for person in country.people %}
              <div class="col-md-2 text-center">
                <a href="{% url "get_people" person.slug %}"><div class="person {{ person.country.slug }}"></div></a>
                <p><small><a href="{% url "get_people" person.slug %}">{{ person.name }}</a></small></p>
              </div>
            {% endfor %}

						<!--<div class="col-md-12 text-center">-->
							<!--<br/>-->
							<!--<a href="#" class="btn btn-default form-control">Ver todos los politicos</a>-->
						<!--</div>-->
					</div>
			 	</div>
			</div> <!-- end of .row -->

			<!--<hr>-->


			<div class="row">
				<div class="col-md-12">
					<h2 class="oswald">Hechos recientes</h2>
					<hr/>
					<ul class="media-list">

            {% for fact in facts.object_list %}
              <li class="media">
                <a class="pull-left" href="{% url "get_fact" fact.person.slug fact.slug %}">
                  <img class="media-object" src="{{ fact.image_url }}" alt="..." height="100" style="width:100px">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <img src="{{ fact.person.country.picture_url }}" height="15"/>
                    <a href="{% url "get_fact" fact.person.slug fact.slug %}">{{ fact.title }}</a>
                  </h4>
                  "{{ fact.quote }}"
                  <br/>
                  <span class="label label-default">investigando</span>
                </div>
                <hr/>
              </li>
            {% endfor %}
					</ul>
          {% if facts.has_other_pages %}
            <ul class="pager">
              {% if facts.has_previous %}
                <li class="previous"><a href="{{ request.path }}?page={{ facts.previous_page_number }}">&larr;</a></li>
              {% endif %}
              {% if facts.has_next %}
                <li class="next"><a href="{{ request.path }}?page={{ facts.next_page_number }}">&rarr;</a></li>
              {% endif %}
            </ul>
          {% endif %}
				</div>
			</div><!-- ewhat? -->
    {% endblock %}
