{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Facto Politico{% endblock %}

{% block extraheader %}
  <!-- Custom styles for this template -->
  <style type="text/css">
    #or{
      background-color:#fff; 
      height: 40px; 
      padding: 10px 0px 25px; 
      position: relative; 
      left: -17px; 
      top: -350px;
      text-align: center;
    }

    .francois{
      font-family:'Francois One';
    }

    .oswald{
      font-family: 'Oswald';
    }

    .country{
      overflow: hidden;
      width: 110px;
      height: 110px;
      border-radius: 55px; 
      border: 1px solid #ccc; 
      background-repeat: no-repeat; 
      margin: 0 auto;
    }

    .country:hover, .person:hover{
      border: 1px solid #333; 
    }

    .country.mexico{
      background-image: url({% static "images/mexico.png" %});
      background-position: -45px -2px;
    }

    .country.colombia{
      background-image:url({% static "images/colombia.png" %});
      background-position: -45px -10px;
    }

    .country.argentina{
      background-image:url({% static "images/argentina.png" %});
      background-position: -45px -10px; 
    }

    .country.peru{
      background-image:url({% static "images/peru.png" %});
      background-position: -46px -10px;
    }

    .country.venezuela{
      background-image:url({% static "images/venezuela.png" %});
      background-position: -45px -10px; 
    }

    .country.chile{
      background-image:url({% static "images/chile.png" %});
      background-position: -25px -2px;
    }

    .country.ecuador{
      background-image:url({% static "images/ecuador.png" %});
      background-position: -45px -10px;
    }

    .country.cuba{
      background-image:url({% static "images/cuba.png" %});
      background-position: -25px 2px;
    }

    .country.bolivia{
      background-image:url({% static "images/bolivia.png" %});
      background-position: -45px -10px;
    }

    .country.guatemala{
      background-image:url({% static "images/guatemala.png" %});
      background-position: -45px -2px;
    }

    .person{
      overflow:hidden;
      width: 110px;
      height:110px;
      border-radius:55px; 
      border: 1px solid #ccc; 
      background-position: -25px -2px; 
      background-size: 150px; 
      background-repeat: no-repeat; 
      margin: 0 auto;
    }

    .person.mexico{
      background-image:url(https://dl.dropboxusercontent.com/sh/dpspzisengzho6k/arHsLXGxKV/mexico-president-orders-probe-into-restaurant-ruckus-1367357441-5486.jpg?token_hash=AAFIv-4HUEHRs9nR5J1X9Gd-JHNRWZhnfcv_VPaTu2e8Ng);
    }
  </style>
{% endblock %}

{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color:#FF3030;color: #fff;font-family: 'Oswald';position: relative; height: 205px; overflow: hidden;">
    <div style="position:relative; left: -40px; top: -50px;">
      <video autoplay="" muted="" loop="">
        <source src="{% static "videos/venezuela.mp4" %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="container" style="position:absolute; top: 0px;">
      <br/>
      <h1 style="text-shadow:0 0 3px rgba(0,0,0,.8);">La verdad sobre politica en <span id="country-swapper">América Latina</span>.</h1>
      <p>Nosotros buscamos a verificar los hechos de politicos en América Latina.</p>
    </div>
  </div>
{% endblock %}

{% block content %}
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-5 text-center">
        <br/>
        <h2 class="oswald">Verdad desde país</h2>
        <hr style="border-top-color:#ddd !important;"/>
        <div class="row francois">

          {% for country in countries %}
            <a href="{% url "get_country" country.slug %}">
              <div class="col-md-6">
                <div class="country {{ country.slug }}"></div>
                <p><small>{{ country.name }}</small></p>
              </div>
            </a>
          {% endfor %}

          <div class="col-md-12 text-center">
            <br/>
            <a href="#" class="btn btn-default form-control">Ver todos los paises</a>
          </div>

          <div id="more-countries" style="display:none;">
            <div class="col-md-6 text-center">
              <div class="country venezuela"></div>
              <p><small>Venezuela</small></p>
            </div>
            <div class="col-md-6 text-center">
              <div class="country chile"></div>
              <p><small>Chile</small></p>
            </div>
            <div class="col-md-6 text-center">
              <div class="country ecuador"></div>
              <p><small>Ecuador</small></p>
            </div>
            <div class="col-md-6 text-center">
              <div class="country guatemala"></div>
              <p><small>Guatemala</small></p>
            </div>
            <div class="col-md-6 text-center">
              <div class="country cuba"></div>
              <p><small>Cuba</small></p>
            </div>
            <div class="col-md-6 text-center">
              <div class="country bolivia"></div>
              <p><small>Bolivia</small></p>
            </div>
          </div> <!-- end of #more-countries -->
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div style="border-left:1px solid #ddd; height: 450px;"></div>
            <div id="or">OR</div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center" id="people">
        <br/>
        <h2 class="oswald">Verdad desde politico</h2>
        <hr style="border-top-color:#ddd !important;"/>
        <div class="row francois">
          <div class="col-md-6 text-center">
            <div class="person mexico"></div>
            <p><small>Enrique Peña Nieto</small></p>
          </div>
          <div class="col-md-6 text-center">
            <div class="person mexico"></div>
            <p><small>Enrique Peña Nieto</small></p>
          </div>
          <div class="col-md-6 text-center">
            <div class="person mexico"></div>
            <p><small>Enrique Peña Nieto</small></p>
          </div>
          <div class="col-md-6 text-center">
            <div class="person mexico"></div>
            <p><small>Enrique Peña Nieto</small></p>
          </div>

          <div class="col-md-12 text-center">
            <br/>
            <a href="#" class="btn btn-default form-control">Ver todo los personas</a>
          </div>
        </div>
      </div>
    </div> <!-- end of .row -->

    <hr>


    <div class="row">
      <div class="col-md-8">
        <h2 class="oswald">Hechos recientes</h2>
        <hr/>
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://news.bbcimg.co.uk/media/images/74544000/jpg/_74544165_3778269e-bf30-4b52-92af-9237a0bdd9f3.jpg" alt="..." height="100" style="width:100px">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <img src="{% static "images/venezuela.png"%}" height="15"/>
                Maduro va hacer cosas con dinero
              </h4>
              "by the end of the year, we will be choking off and overcoming (...) inflation"
              <br/>
              <span class="label label-default">investigando</span>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://thecubaneconomy.com/wp-content/uploads/2012/06/cuba-computer.jpg" alt="..." height="100" style="width:100px">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <img src="{% static "images/cuba.png" %}" height="15"/>
                Castro lifts ban on computers
              </h4>
              "los computadores son bueno"
              <br/>
              <span class="label label-success">verdad!</span>
            </div>
          </li>
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="https://external-mia.xx.fbcdn.net/safe_image.php?d=AQDpjEQHDIiHqnLk&w=116&h=116&url=http%3A%2F%2Fstatic4.businessinsider.com%2Fimage%2F535930206bb3f7565e632c09%2Fthe-22-most-miserable-countries-in-the-world.jpg&cfs=1&l" alt="..." height="100">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <img src="{% static "images/venezuela.png"%}" height="15"/>
                Maduro va matar personas
              </h4>
              "voy a matar personas innocentes"
              <br/>
              <span class="label label-success">verdad!</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="oswald">Hechos desde categoria</h3>
        <hr/>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">104</span>
            Economy
          </li>
          <li class="list-group-item">
            <span class="badge">1094</span>
            Drugs
          </li>
          <li class="list-group-item">
            <span class="badge">88</span>
            Elections
          </li>
          <li class="list-group-item">
            <span class="badge">2</span>
            Healthcare
          </li>
        </ul>
      </div>
    </div><!-- ewhat? -->
{% endblock %}
